[submodule "prototype_ws/src/ros2_repos/ros2/rcl"]
    path = prototype_ws/src/ros2_repos/ros2/rcl
    url = https://github.com/ros2/rcl.git
    branch = rolling

[submodule "prototype_ws/src/ros2_repos/ros2/rcl_interfaces"]
    path = prototype_ws/src/ros2_repos/ros2/rcl_interfaces
    url = https://github.com/ros2/rcl_interfaces.git
    branch = rolling

[submodule "prototype_ws/src/ros2_repos/ros2/rclcpp"]
    path = prototype_ws/src/ros2_repos/ros2/rclcpp
    url = https://github.com/ros2/rclcpp.git
    branch = dynamic_subscrpition

[submodule "prototype_ws/src/ros2_repos/ros2/rclpy"]
    path = prototype_ws/src/ros2_repos/ros2/rclpy
    url = https://github.com/ros2/rclpy.git
    branch = rolling

[submodule "prototype_ws/src/ros2_repos/ros2/rmw"]
    path = prototype_ws/src/ros2_repos/ros2/rmw
    url = https://github.com/ros2/rmw.git
    branch = rolling

[submodule "prototype_ws/src/ros2_repos/ros2/rmw_fastrtps"]
    path = prototype_ws/src/ros2_repos/ros2/rmw_fastrtps
    url = https://github.com/ros2/rmw_fastrtps.git
    branch = rolling

[submodule "prototype_ws/src/ros2_repos/ros2/rmw_connextdds"]
    path = prototype_ws/src/ros2_repos/ros2/rmw_connextdds
    url = https://github.com/ros2/rmw_connextdds.git
    branch = rolling

[submodule "prototype_ws/src/ros2_repos/ros2/rmw_cyclonedds"]
    path = prototype_ws/src/ros2_repos/ros2/rmw_cyclonedds
    url = https://github.com/ros2/rmw_cyclonedds.git
    branch = rolling

[submodule "prototype_ws/src/ros2_repos/ros2/rmw_implementation"]
    path = prototype_ws/src/ros2_repos/ros2/rmw_implementation
    url = https://github.com/ros2/rmw_implementation.git
    branch = rolling

[submodule "prototype_ws/src/ros2_repos/ros2/rosidl"]
    path = prototype_ws/src/ros2_repos/ros2/rosidl
    url = https://github.com/ros2/rosidl.git
    branch = rolling
